a[target="top"]{
    background-color: yellow;
}

.class1 .class2 h3 {
    padding: 5px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    background-color: brown;
    height: 20px;
}
div[data-color-value="red"] {
    color:aqua;
}

[class^="foo-"]{
    color: red;
}

[class$="file"]{
    color: blueviolet;
}


div span{
    color: rgb(213, 147, 158);
}
